<link rel="stylesheet" href="/nav/css/cees/shiYanXiangMu/print.css">
<script src="/nav/jquery/jQuery.print.js"></script>
<script src="/nav/js/iframe2.js"></script>

##显示在右侧侧内容
<div>
##工具条
    <div class="content-bar" id="queryWrapper">
        <div class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label width-60">制模日期</label>
                <div class="layui-input-inline width-150">
                    <input type="text" class="layui-input" id="beginTime" placeholder="yyyy-MM-dd">
                </div>

                <label class="layui-form-label width-20">至</label>

                <div class="layui-input-inline width-150">
                    <input type="text" class="layui-input" id="endTime" placeholder="yyyy-MM-dd">
                </div>
                <div class="layui-input-inline width-150">
                    <input type="text" class="layui-input" id="queryStr">
                </div>

                <div class="layui-input-inline  width-64">
                    <button class="layui-btn " onclick="initGetShowCol(initTable)">查询</button>
                </div>

                <div class="layui-input-inline width-64">
                    <button class="layui-btn" lay-event="add" onclick="showAddModal()">新增</button>
                </div>

            </div>
        </div>
    </div>
##表格
    <table id="tableData" lay-filter="test"></table>

    <div id="chk" class="none">
        <div class="chk-wrapper">
            <i is-selected="false" class="icon-check-empty"></i>
        </div>
    </div>
##表格的工具条
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="print">打印</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
</div>

##弹窗

##添加弹窗
<form id="addModal" class="layui-form my-layer-modal none" lay-filter="addModal" action="">

    <div class="layui-row margin-bottom-20">
        <table class="layui-table">
            <tbody>
            <tr>
                <td>
                    <div class="layui-col-md6">

                        <div class="layui-row margin-bottom-20">
                            <div class="red-font">
                                <div class="layui-input-inline layui-col-md4 my-sm-lable">委托单号
                                </div>
                                <div class="layui-input-inline layui-col-md8">
                                    <input type="text" name="WTDBH" readonly autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-row margin-bottom-20">
                            <div class="blue-font">
                                <div class="layui-input-inline layui-col-md4 my-sm-lable">委托单位
                                </div>
                                <div class="layui-input-inline layui-col-md8">
                                    <input type="text" name="WTDBH" readonly autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-row margin-bottom-20">
                            <div class="blue-font">
                                <div class="layui-input-inline layui-col-md4 my-sm-lable">仪器编号
                                </div>
                                <div class="layui-input-inline layui-col-md8">
                                    <input type="text" name="WTDBH" readonly autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-row margin-bottom-20">
                            <div class="blue-font">
                                <div class="layui-input-inline layui-col-md4 my-sm-lable">来样日期
                                </div>
                                <div class="layui-input-inline layui-col-md8">
                                    <input type="text" name="WTDBH" readonly autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md6">

                        <div class="layui-row margin-bottom-20">
                            <div class="layui-input-inline layui-col-md4 my-sm-lable">委托人
                            </div>
                            <div class="layui-input-inline layui-col-md8">
                                <input type="text" name="WTDBH" readonly autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-row margin-bottom-20">
                            <div class="blue-font">
                                <div class="layui-input-inline layui-col-md4 my-sm-lable">工程名称
                                </div>
                                <div class="layui-input-inline layui-col-md8">
                                    <input type="text" name="WTDBH" readonly autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-row margin-bottom-20">
                            <div class="layui-input-inline layui-col-md4 my-sm-lable">试样种类
                            </div>
                            <div class="layui-input-inline layui-col-md8">
                                <input type="text" name="WTDBH" readonly autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-row margin-bottom-20">
                            <div class="layui-input-inline layui-col-md4 my-sm-lable">试验日期
                            </div>
                            <div class="layui-input-inline layui-col-md8">
                                <input type="text" name="WTDBH" readonly autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="layui-row margin-bottom-20">
        <table class="layui-table text-center "  style=" table-layout: fixed !important;">
            <tbody>
            <tr>
                <td colspan="15">施工部位</td>
                <td colspan="85">
                    <input type="text" name="" autocomplete="off"
                           class="layui-input">
                </td>
            </tr>
            <tr>
                <td rowspan="2" colspan="15">砂浆种类</td>
                <td rowspan="2" colspan="21">
                    <input type="text" name="" autocomplete="off" class="layui-input">
                </td>
                <td class="red-font" colspan="10">抗折强度</td>
                <td colspan="22">
                    <input type="text" name="" autocomplete="off" class="layui-input">MPa
                </td>
                <td rowspan="2" colspan="10">稠度</td>
                <td rowspan="2" colspan="22">
                    <input type="text" name="" readonly autocomplete="off" value="/" class="layui-input">
                </td>
            </tr>
            <tr>
                <td class="red-font" colspan="10">抗压强度</td>
                <td colspan="22">
                    <input type="text" name="" autocomplete="off" class="layui-input">MPa
                </td>
            </tr>

            <tr>
                <td colspan="15">水泥品种</td>
                <td colspan="21">
                    <input type="text" name="" autocomplete="off" class="layui-input">
                </td>
                <td colspan="10">强度等级</td>
                <td colspan="22">
                    <input type="text" name="" autocomplete="off" class="layui-input">
                </td>
                <td colspan="10">厂别</td>
                <td colspan="22">
                    <input type="text" name="" readonly autocomplete="off" value="/" class="layui-input">
                </td>
            </tr>
            <tr>
                <td colspan="15">外加剂种类</td>
                <td colspan="21">
                    <input type="text" name="" autocomplete="off" class="layui-input">
                </td>
                <td colspan="10">外加剂2种类</td>
                <td colspan="22">
                    <input type="text" name="" autocomplete="off" class="layui-input">
                </td>
                <td colspan="10">掺合料种类</td>
                <td colspan="22">
                    <input type="text" name="" readonly autocomplete="off" value="/" class="layui-input">
                </td>
            </tr>
            <tr>
                <td rowspan="2" colspan="15">配比编号</td>
                <td rowspan="2" colspan="13">项目</td>
                <td colspan="72">各种材料用量</td>
            </tr>
            <tr>
                <td colspan="12">水泥</td>
                <td colspan="12">砂</td>
                <td colspan="12">水</td>
                <td colspan="12">掺合料</td>
                <td colspan="12">外加剂</td>
                <td colspan="12">外加剂2</td>
            </tr>
            <tr>
                <td colspan="15"><input type="text" name="" readonly autocomplete="off" value="/"
                                        class="layui-input"></td>
                <td colspan="13">每立方用量</td>
                <td colspan="12"><input type="text" name="" readonly autocomplete="off" value="/" class="layui-input">
                </td>
                <td colspan="12"><input type="text" name="" readonly autocomplete="off" value="/" class="layui-input">
                </td>
                <td colspan="12"><input type="text" name="" readonly autocomplete="off" value="/" class="layui-input">
                </td>
                <td colspan="12"><input type="text" name="" readonly autocomplete="off" value="/" class="layui-input">
                </td>
                <td colspan="12"><input type="text" name="" readonly autocomplete="off" value="/" class="layui-input">
                </td>
                <td colspan="12"><input type="text" name="" readonly autocomplete="off" value="/" class="layui-input">
                </td>
            </tr>
            <tr>
                <td colspan="15">制模日期</td>
                <td colspan="13"><input type="text" name="" readonly autocomplete="off" value="/" class="layui-input">
                </td>
                <td colspan="12">养护条件</td>
                <td colspan="24"><input type="text" name="" readonly autocomplete="off" value="/" class="layui-input">
                </td>
                <td colspan="12">要求期龄</td>
                <td colspan="24"><input type="text" name="" readonly autocomplete="off" value="/" class="layui-input">
                </td>
            </tr>
            <tr>
                <td class="blue-font" colspan="15">要求试验日期</td>
                <td class="blue-font" colspan="13"><input type="text" name="" readonly autocomplete="off" value="/"
                                                          class="layui-input">
                </td>
                <td class="blue-font" colspan="12">试块收到日期</td>
                <td class="blue-font" colspan="24"><input type="text" name="" readonly autocomplete="off" value="/"
                                                          class="layui-input">
                </td>
                <td colspan="12">试块制作人</td>
                <td colspan="24"><input type="text" name="" readonly autocomplete="off" value="/" class="layui-input">
                </td>
            </tr>
            <tr>
                <td colspan="15">试件编号</td>
                <td colspan="13"><input type="text" name="" readonly autocomplete="off" value="/"
                                        class="layui-input">
                </td>
                <td class="blue-font" colspan="12">试验日期</td>
                <td class="blue-font" colspan="24"><input type="text" name="" readonly autocomplete="off" value="/"
                                                          class="layui-input">
                </td>
                <td colspan="12">实际龄期</td>
                <td colspan="24"><input type="text" name="" readonly autocomplete="off" value="/" class="layui-input">
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="layui-row margin-bottom-20">
        <table class="layui-table text-center" style=" table-layout: fixed !important;">
            <tbody>
            <tr>
            <tr>
                <td class="blue-font" colspan="15">试验编号</td>
                <td class="blue-font" colspan="85"><input type="text" name="" autocomplete="off" class="layui-input">
                </td>
            </tr>
            <tr>
                <td rowspan="5" colspan="15" class="blue-font">抗折</td>
                <td rowspan="2" colspan="10">试件尺寸(mm)</td>
                <td rowspan="2" colspan="10" class="blue-font">计算跨度</td>
                <td colspan="12">破坏荷载(kN))</td>
                <td rowspan="2" colspan="10" class="blue-font">抗折强度(MPa)</td>
                <td rowspan="2" colspan="13" class="blue-font">达到设计强度(%)</td>
            </tr>
            <tr>
                <td colspan="6">单块</td>
                <td colspan="6" class="blue-font">平均</td>
            </tr>
            <tr>
                <td colspan="3">长</td>
                <td colspan="7"><input type="text" name="" autocomplete="off" class="layui-input"></td>
                <td rowspan="3" colspan="10"><input type="text" name="" autocomplete="off" class="layui-input"></td>
                <td colspan="6"><input type="text" name="" autocomplete="off" class="layui-input"></td>
                <td rowspan="3" colspan="6"><input type="text" name="" autocomplete="off" class="layui-input"></td>
                <td rowspan="3" colspan="10"><input type="text" name="" autocomplete="off" class="layui-input"></td>
                <td rowspan="3" colspan="13"><input type="text" name="" autocomplete="off" class="layui-input"></td>
            </tr>
            <tr>
                <td colspan="3">宽</td>
                <td colspan="7"><input type="text" name="" autocomplete="off" class="layui-input"></td>
                <td colspan="6"><input type="text" name="" autocomplete="off" class="layui-input"></td>
            </tr>
            <tr>
                <td colspan="3">高</td>
                <td colspan="7"><input type="text" name="" autocomplete="off" class="layui-input"></td>
                <td colspan="6"><input type="text" name="" autocomplete="off" class="layui-input"></td>
            </tr>

            </tbody>
        </table>
    </div>

</form>

##修改弹窗
<form id="updateModal" class="layui-form my-layer-modal none" lay-filter="addModal" action="">
##隐藏字段
    <div class="layui-row none">
        <div class="layui-form-item">
            <div class="layui-inline blue-font">
                <label class="layui-form-label ">ID</label>
                <div class="layui-input-inline ">
                    <input type="text" name="sjkyid" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </div>

    <div class="layui-row margin-bottom-20">
        <table class="layui-table">
            <tbody>
            <tr>
                <td>
                    <div class="layui-col-md6">

                        <div class="layui-row margin-bottom-20">
                            <div class="red-font">
                                <div class="layui-input-inline layui-col-md2 my-sm-lable">委托编号
                                </div>
                                <div class="layui-input-inline layui-col-md4">
                                    <input type="text" name="WTDBH" readonly autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="red-font">
                                <div class="layui-input-inline layui-col-md2 my-sm-lable">试验编号
                                </div>
                                <div class="layui-input-inline layui-col-md4">
                                    <input type="text" name="SYBH" readonly autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                        </div>

                        <div class="layui-row  margin-bottom-20">
                            <div class="layui-row blue-font">
                                <div class="layui-input-inline layui-col-md2 my-sm-lable">委托单位
                                </div>
                                <div class="layui-input-inline layui-col-md10">
                                    <input type="text" name="WTDWMC" readonly autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                        </div>

                        <div class="layui-row margin-bottom-20">
                            <div class="blue-font">
                                <div class="layui-input-inline layui-col-md2 my-sm-lable">来样日期
                                </div>
                                <div class="layui-input-inline layui-col-md4">
                                    <input type="text" name="LYRQ" disabled autocomplete="off"
                                           class="layui-input" placeholder="yyyy-MM-dd">
                                    <input type="text" name="LYRQ" readonly autocomplete="off"
                                           class="layui-input none" placeholder="yyyy-MM-dd">
                                </div>
                            </div>
                            <div>
                                <div class="layui-input-inline layui-col-md2 my-sm-lable">试块数
                                </div>
                                <div class="layui-input-inline layui-col-md4">
                                    <select name="KUAISHU" lay-search>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="layui-row margin-bottom-20">
                            <div>
                                <div class="layui-input-inline layui-col-md2 my-sm-lable">砂浆种类
                                </div>
                                <div class="layui-input-inline layui-col-md4">
                                    <input type="text" name="SJZL" autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                            <div>
                                <div class="layui-input-inline layui-col-md2 my-sm-lable">强度等级
                                </div>
                                <div class="layui-input-inline layui-col-md4">
                                    <input type="text" name="SJZLQD" autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-row margin-bottom-20">
                            <div>
                                <div class="layui-input-inline layui-col-md2 my-sm-lable">水泥品种
                                </div>
                                <div class="layui-input-inline layui-col-md4">
                                    <input type="text" name="SNPZ" autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                            <div>
                                <div class="layui-input-inline layui-col-md2 my-sm-lable">强度等级
                                </div>
                                <div class="layui-input-inline layui-col-md4">
                                    <input type="text" name="SNQDDJ" autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-row margin-bottom-20">
                            <div>
                                <div class="layui-input-inline layui-col-md2 my-sm-lable">砂产地
                                </div>
                                <div class="layui-input-inline layui-col-md4">
                                    <input type="text" name="SCD" autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                            <div>
                                <div class="layui-input-inline layui-col-md2 my-sm-lable">砂种类
                                </div>
                                <div class="layui-input-inline layui-col-md4">
                                    <input type="text" name="SZL" autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-col-md6">

                        <div class="layui-row  margin-bottom-20">
                            <div class="layui-row blue-font">
                                <div class="layui-input-inline layui-col-md2 my-sm-lable">工程名称
                                </div>
                                <div class="layui-input-inline layui-col-md10">
                                    <input type="text" name="GCMC" readonly autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-row  margin-bottom-20">
                            <div class="layui-row">
                                <div class="layui-input-inline layui-col-md2 my-sm-lable">施工部位
                                </div>
                                <div class="layui-input-inline layui-col-md10">
                                    <input type="text" name="SGBW" autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                        </div>

                        <div class="layui-row margin-bottom-20">
                            <div class="blue-font">
                                <div class="layui-input-inline layui-col-md2 my-sm-lable">实验仪器编号
                                </div>
                                <div class="layui-input-inline layui-col-md4">
                                    <input type="text" name="YQBH" readonly autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                            <div>
                                <div class="layui-input-inline layui-col-md2 my-sm-lable">委托人
                                </div>
                                <div class="layui-input-inline layui-col-md4">
                                    <input type="text" name="WTR" autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-row margin-bottom-20">
                            <div>
                                <div class="layui-input-inline layui-col-md2 my-sm-lable">稠度
                                </div>
                                <div class="layui-input-inline layui-col-md2">
                                    <input type="text" name="CD" autocomplete="off"
                                           class="layui-input">
                                </div>
                                <div class="layui-input-inline layui-col-md2">
                                    <select name="CDDW" lay-search>
                                        <option value="mm">mm</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <div class="layui-input-inline layui-col-md2 my-sm-lable">掺合料种类
                                </div>
                                <div class="layui-input-inline layui-col-md4">
                                    <input type="text" name="CHLZL" autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-row  margin-bottom-20">
                            <div class="layui-row">
                                <div class="layui-input-inline layui-col-md2 my-sm-lable">水泥厂别
                                </div>
                                <div class="layui-input-inline layui-col-md10">
                                    <input type="text" name="CB" autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                        </div>

                        <div class="layui-row margin-bottom-20">
                            <div>
                                <div class="layui-input-inline layui-col-md2 my-sm-lable">外加剂种类
                                </div>
                                <div class="layui-input-inline layui-col-md4">
                                    <input type="text" name="WJJZL" autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                            <div>
                                <div class="layui-input-inline layui-col-md2 my-sm-lable">外加剂2种类
                                </div>
                                <div class="layui-input-inline layui-col-md4">
                                    <input type="text" name="WJJ2ZL" autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="layui-row margin-bottom-20">
        <table class="layui-table text-center ">
            <tbody>
            <tr>
                <td rowspan="2">配比编号</td>
                <td rowspan="2" class="blue-font">项目</td>
                <td colspan="6" class="blue-font"> 各种材料用量(Kg)</td>
            </tr>
            <tr>
                <td>水泥</td>
                <td>砂</td>
                <td>水</td>
                <td>掺合料</td>
                <td>外加剂</td>
                <td>外加剂2</td>
            </tr>
            <tr>
            ##配比编号
                <td rowspan="2">
                    <input type="text" name="PBBH" autocomplete="off"
                           class="layui-input">
                </td>
                <td class="blue-font">每m3</td>
            ##水泥
                <td><input type="text" name="SNMPF" autocomplete="off"
                           class="layui-input"></td>
            ##砂
                <td><input type="text" name="SMPF" autocomplete="off"
                           class="layui-input"></td>
            ##水
                <td><input type="text" name="" autocomplete="off"
                           class="layui-input"></td>
            ##掺合料
                <td><input type="text" name="CHLMPF" readonly autocomplete="off"
                           class="layui-input" value="/"></td>
            ##外加剂
                <td><input type="text" name="WJJMPF" readonly autocomplete="off"
                           class="layui-input" value="/"></td>
            ##外加剂2
                <td><input type="text" name="WJJ2MPF" readonly autocomplete="off"
                           class="layui-input" value="/"></td>
            </tr>
            <tr>
                <td class="blue-font">每盘</td>
            ##水泥
                <td><input type="text" name="SNMP" readonly autocomplete="off"
                           class="layui-input" value="/"></td>
            ##砂
                <td><input type="text" name="SMP" readonly autocomplete="off"
                           class="layui-input" value="/"></td>
            ##水
                <td><input type="text" name="" readonly autocomplete="off"
                           class="layui-input" value="/"></td>
            ##掺合料
                <td><input type="text" name="CHLMP" readonly autocomplete="off"
                           class="layui-input" value="/"></td>
            ##外加剂
                <td><input type="text" name="WJJMP" readonly autocomplete="off"
                           class="layui-input" value="/"></td>
            ##外加剂2
                <td><input type="text" name="WJJ2MP" readonly autocomplete="off"
                           class="layui-input" value="/"></td>

            </tr>
            </tbody>
        </table>
    </div>

    <div class="layui-row margin-bottom-20">
        <table class="layui-table  text-center ">
            <tbody>
            <tr>
                <td>制模日期</td>
                <td>养护条件</td>
                <td>试块制作人</td>
                <td class=" blue-font">试块收到日期</td>
                <td>要求龄期</td>
                <td class="blue-font">要求试验日期</td>
            </tr>
            <tr>
            ##制模日期
                <td><input type="text" name="ZMRQ" autocomplete="off"
                           class="layui-input" placeholder="yyyy-MM-dd"></td>
            ##养护条件
                <td><input type="text" name="YHTJ" autocomplete="off"
                           class="layui-input"></td>
            ##试块制作人
                <td><input type="text" name="SKZZR" autocomplete="off"
                           class="layui-input"></td>
            ##  试块收到日期
                <td><input type="text" name="SKSDRQ" readonly autocomplete="off"
                           class="layui-input none" placeholder="yyyy-MM-dd">
                    <input type="text" name="SKSDRQ" disabled autocomplete="off"
                           class="layui-input" placeholder="yyyy-MM-dd"></td>
            ##要求龄期
                <td><input type="text" name="YQLQ" autocomplete="off"
                           class="layui-input"></td>
            ##要求试验日期
                <td><input type="text" name="YQSYRQ" readonly autocomplete="off"
                           class="layui-input none" placeholder="yyyy-MM-dd">
                    <input type="text" name="YQSYRQ" disabled autocomplete="off"
                           class="layui-input" placeholder="yyyy-MM-dd"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="layui-row margin-bottom-20">
        <table class="layui-table text-center">
            <tbody>
            <tr>
                <td rowspan="2">试件编号</td>
                <td rowspan="2" class="blue-font">试验日期</td>
                <td rowspan="2">实际龄期(天)</td>
                <td rowspan="2">试件边长(mm)</td>
                <td rowspan="2">受压面积(mm2)</td>
                <td colspan="2">荷载(KN)</td>
                <td rowspan="2">抗压强度(MPa)</td>
                <td rowspan="2">达到设计强度(%)</td>
            </tr>
            <tr>
                <td>单块</td>
                <td class="blue-font">平均</td>
            </tr>
            <tr>
            ##   试件编号
                <td rowspan="6">
                    <input type="text" name="SJBH" autocomplete="off"
                           class="layui-input">
                </td>
            ##     试验日期
                <td rowspan="6">
                    <input type="text" name="SYRQ" readonly autocomplete="off"
                           class="layui-input none" placeholder="yyyy-MM-dd">
                    <input type="text" name="SYRQ" disabled autocomplete="off"
                           class="layui-input" placeholder="yyyy-MM-dd">
                </td>
            ##      实际龄期
                <td rowspan="6">
                    <input type="text" name="SJLQ" autocomplete="off"
                           class="layui-input">
                </td>
            ##     试件边长
                <td rowspan="6">
                    <input type="text" name="SJBC" autocomplete="off"
                           class="layui-input">
                </td>
            ##      受压面积
                <td rowspan="6">
                    <input type="text" name="SYMJ" autocomplete="off"
                           class="layui-input">
                </td>
            ##      单块1
                <td>
                    <input type="text" name="HZDK1" autocomplete="off"
                           class="layui-input">
                </td>
            ##      平均
                <td rowspan="6">
                    <input type="text" name="HZPJ" readonly autocomplete="off"
                           class="layui-input">
                </td>
            ##   抗压强度
                <td rowspan="6" class="blue-font">
                    <input type="text" name="KYQD" autocomplete="off"
                           class="layui-input">
                </td>
            ##       达到设计强度
                <td rowspan="6" class="blue-font">
                    <input type="text" name="DDSJ" autocomplete="off"
                           class="layui-input">
                </td>
            </tr>
            <tr>
            ##单块2
                <td>
                    <input type="text" name="HZDK2" autocomplete="off"
                           class="layui-input">
                </td>
            </tr>
            <tr>
            ##单块3
                <td>
                    <input type="text" name="HZDK3" autocomplete="off"
                           class="layui-input">
                </td>
            </tr>
            <tr>
            ##单块4
                <td>
                    <input type="text" name="HZDK4" autocomplete="off"
                           class="layui-input">
                </td>
            </tr>
            <tr>
            ##单块5
                <td>
                    <input type="text" name="HZDK5" autocomplete="off"
                           class="layui-input">
                </td>
            </tr>
            <tr>
            ##单块6
                <td>
                    <input type="text" name="HZDK6" autocomplete="off"
                           class="layui-input">
                </td>
            </tr>
            <tr>
                <td>备注</td>
                <td colspan="8"><input type="text" name="BZ" autocomplete="off"
                                       class="layui-input"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="layui-row">
        <table class="layui-table">
            <tbody>
            <tr>
                <td>
                    <div class="layui-col-md3">

                        <div class="layui-input-inline layui-col-md3 my-sm-lable blue-font">
                            技术负责人
                        </div>
                        <div class="layui-col-md8">
                            <input type="text" name="JSFZR" readonly autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-col-md3">
                        <div class="layui-input-inline layui-col-md3 my-sm-lable blue-font">
                            校核人
                        </div>
                        <div class="layui-col-md8">
                            <input type="text" name="XHR" readonly autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-col-md3">
                        <div class="layui-input-inline layui-col-md3 my-sm-lable blue-font">
                            试验人
                        </div>
                        <div class="layui-col-md8">
                            <input type="text" name="SYR" readonly autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-col-md3">
                        <div class="layui-input-inline layui-col-md3 my-sm-lable blue-font">
                            报告日期
                        </div>
                        <div class="layui-col-md8">
                            <input type="text" name="BGRQ" disabled class="layui-input" placeholder="yyyy-MM-dd">
                            <input type="text" name="BGRQ" class="layui-input none" placeholder="yyyy-MM-dd">
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</form>

##查看
<form id="detailModal" class="layui-form my-layer-modal none" lay-filter="detailModal" action=""></form>

##打印
<form id="printModal" class="layui-container none text-center">
    <div>
        <div class="layui-row">
            <div class="layui-col-md12">
                <div class="left">
                    记录表编号：JL-002-212
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12  text-center ">
                北京市公路质量检测中心
            </div>
        </div>
        <div class="layui-row margin-bottom-10">
            <div class="layui-col-md12  text-center ">
                <h2>砂浆试块试压报告</h2>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12">
                <table class="table text-center">
                    <tr>
                        <td colspan="15">委托编号</td>
                        <td colspan="50" name="WTDBH"></td>
                        <td colspan="15">委托编号</td>
                        <td colspan="20" name="SYBH"></td>
                    </tr>
                    <tr>
                        <td colspan="15">施工单位</td>
                    ##数据从其他位置赋值
                        <td colspan="50" name="construction"></td>
                        <td colspan="15">委托人</td>
                        <td colspan="20" name="client"></td>
                    </tr>
                    <tr>
                        <td colspan="15">工程名称及施工部位</td>
                        <td colspan="85" name="GCMC,SGBW"></td>
                    </tr>
                    <tr>
                        <td colspan="15">砂浆种类</td>
                        <td colspan="20" name="SJZL"></td>
                        <td colspan="12">强度等级</td>
                        <td colspan="21" name="SJZLQD"></td>
                        <td colspan="12">稠度</td>
                        <td colspan="20" name="CD,CDDW"></td>
                    </tr>
                    <tr>
                        <td colspan="15">水泥品种</td>
                        <td colspan="20" name="SNPZ"></td>
                        <td colspan="12">强度等级</td>
                        <td colspan="21" name="SNQDDJ"></td>
                        <td colspan="12">厂别</td>
                        <td colspan="20" name="CB"></td>
                    </tr>
                    <tr>
                        <td colspan="15">砂产地及品种</td>
                        <td colspan="85" name="SCD,SZL"></td>
                    </tr>
                    <tr>
                    ##不知道这个是什么
                        <td colspan="15">检测依据</td>
                        <td colspan="40" name=""></td>
                        <td colspan="15">掺合料种类</td>
                        <td colspan="30" name="CHLZL"></td>
                    </tr>
                    <tr>
                        <td colspan="15">外加剂种类</td>
                        <td colspan="40" name="WJJZL"></td>
                        <td colspan="15">外加剂2种类</td>
                        <td colspan="30" name="WJJ2ZL"></td>
                    </tr>
                    <tr>
                        <td rowspan="2" colspan="15">配比编号</td>
                        <td rowspan="2" colspan="13">项目</td>
                        <td colspan="72">各种材料用量(KG)</td>
                    </tr>
                    <tr>
                        <td colspan="12">水泥</td>
                        <td colspan="12">砂</td>
                        <td colspan="12">水</td>
                        <td colspan="12">掺合料</td>
                        <td colspan="12">外加剂</td>
                        <td colspan="12">外加剂2</td>
                    </tr>
                    <tr>
                    ##配比编号
                        <td rowspan="2" colspan="15" name="PBBH"></td>
                        <td colspan="13">每m3用量</td>
                    ##水泥
                        <td colspan="12" name="SNMPF"></td>
                    ##砂
                        <td colspan="12" name="SMPF"></td>
                    ##水
                        <td colspan="12" name="SHA_SHUI"></td>
                    ##掺合料
                        <td colspan="12">/</td>
                    ##外加剂
                        <td colspan="12">/</td>
                    ##外加剂2
                        <td colspan="12">/</td>
                    </tr>
                    <tr>
                        <td colspan="13">每盘用量</td>
                        <td colspan="12">/</td>
                        <td colspan="12">/</td>
                        <td colspan="12">/</td>
                        <td colspan="12">/</td>
                        <td colspan="12">/</td>
                        <td colspan="12">/</td>
                    </tr>
                    <tr>
                        <td colspan="15">制模日期</td>
                        <td colspan="25" name="ZMRQ"></td>
                        <td colspan="12">养护条件</td>
                        <td colspan="24" name="YHTJ"></td>
                        <td colspan="12">要求龄期</td>
                        <td colspan="12" name="YQLQ"></td>
                    </tr>
                    <tr>
                        <td colspan="15">要求试验日期</td>
                        <td colspan="25" name="YQSYRQ"></td>
                        <td colspan="12">试块收到日期</td>
                        <td colspan="24" name="SKSDRQ"></td>
                        <td colspan="12">试块制作人</td>
                        <td colspan="12" name="SKZZR"></td>
                    </tr>
                    <tr>
                        <td rowspan="2" colspan="15">试件编号</td>
                        <td rowspan="2" colspan="22">试压日期</td>
                        <td rowspan="2" colspan="9">实际龄期(d)</td>
                        <td rowspan="2" colspan="9">试件边长(mm)</td>
                        <td rowspan="2" colspan="9">受压面积(mm2)</td>
                        <td rowspan="1" colspan="18">破坏荷载(kN)</td>
                        <td rowspan="2" colspan="9">抗压强度(MPa)</td>
                        <td rowspan="2" colspan="9">达到设计强度(%)</td>
                    </tr>
                    <tr>
                        <td colspan="9">单块</td>
                        <td colspan="9">平均</td>
                    </tr>
                    <tr>
                    ##试件编号
                        <td rowspan="6" colspan="15" name="SJBH"></td>
                    ##试压日期 - 试验日期
                        <td rowspan="6" colspan="22" name="SYRQ"></td>
                    ##实际龄期
                        <td rowspan="6" colspan="9" name="SJLQ"></td>
                    ##试件边长
                        <td rowspan="6" colspan="9" name="SJBC"></td>
                    ##受压面积
                        <td rowspan="6" colspan="9" name="SYMJ"></td>
                    ##破坏荷载-单块1
                        <td rowspan="1" colspan="9" name="HZDK1">&nbsp;</td>
                    ##破坏荷载-平均
                        <td rowspan="6" colspan="9" name="HZPJ"></td>
                    ##抗压强度
                        <td rowspan="6" colspan="9" name="KYQD"></td>
                    ##达到设计强度
                        <td rowspan="6" colspan="9" name="DDSJ"></td>
                    </tr>
                    <tr>
                    ##破坏荷载-单块2
                        <td rowspan="1" colspan="9" name="HZDK2">&nbsp;</td>
                    </tr>
                    <tr>
                    ##破坏荷载-单块3
                        <td rowspan="1" colspan="9" name="HZDK3">&nbsp;</td>
                    </tr>
                    <tr>
                    ##破坏荷载-单块4
                        <td rowspan="1" colspan="9" name="HZDK4">&nbsp;</td>
                    </tr>
                    <tr>
                    ##破坏荷载-单块5
                        <td rowspan="1" colspan="9" name="HZDK5">&nbsp;</td>
                    </tr>
                    <tr>
                    ##破坏荷载-单块6
                        <td rowspan="1" colspan="9" name="HZDK6">&nbsp;</td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12">
                <table class="table text-center">
                    <tr class="none-td-border">
                        <td colspan="15">备注</td>
                        <td colspan="85" name="BZ"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12">
                <table class="table text-center">
                    <tr class="none-td-border">
                        <td colspan="15">技术负责人</td>
                        <td colspan="20" name="JSFZR"></td>
                        <td colspan="12">校核人</td>
                        <td colspan="21" name="XHR"></td>
                        <td colspan="12">试验人</td>
                        <td colspan="20" name="SYR"></td>
                    </tr>
                    <tr>
                        <td colspan="15">报告日期</td>
                        <td colspan="85" name="BGRQ"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="layui-row top10">
            <div class="layui-col-md12">
                <div class="left">
                    声明:1.本结果只对所检测样品有效。2.未经本中心同意不得复制试验报告。本表于2016年7月1日起实施
                </div>
            </div>
        </div>
    </div>
</form>

<script src="/nav/js/iframe2.js"></script>
##全局变量
<script>

    //当前页面的请求的URL由各个页面定义此处为样本
    var urls = {
        showCol: '/shiYanXiangMu/SNJJ/getShowCol.action',
        select: '/shiYanXiangMu/SNJJ/search',
        add: '/shiYanXiangMu/SNJJ/add.action',
        update: '/shiYanXiangMu/SNJJ/update',
        delete: '/shiYanXiangMu/SNJJ/delete'
    };
</script>
##页面初始化
<script>
    window.onload = function (ev) {
        init();
        initLayuiLaydate("queryWrapper");
    };
</script>

<script>

    //初始化表格
    function initTable(displayCol) {

        //获取表头
        var getCols = function (json) {

            var data = json.data;
            var cols = [[]];
            // cols[0][0] = {field: 'checkbox', type: 'checkbox', title: '单选', fixed: 'left'};
            cols[0][0] = {field: 'checkbox', templet: '#chk', edit: false, title: '单选', fixed: 'left', event: 'chk'};
            for (var i = 0; i < data.length; i++) {
                var row = data[i];
                var gridmc = row['gridmc'].toLocaleLowerCase();

                var zw = row['zw'];
                var width = 90;
                if (zw.length > 4) {
                    width = width + (zw.length - 4) * 10;
                }
                if (gridmc.length - zw.length > 2) {
                    width += 24;
                }
                var col = {field: gridmc, title: zw, width: width, edit: false};
                cols[0].push(col);
            }
            var toolbar = {fixed: 'right', align: 'center', toolbar: '#barDemo', edit: false, title: '操作', width: 200};
            cols[0].push(toolbar);
            return cols;
        }

        //表格初始化和查询参数绑定
        var tableOptions = {
            elem: '#tableData',
            height: 510,
            url: urls.select, //数据接口
            page: true,//开启分页
            request: {
                pageName: 'page', //页码的参数名称，默认：page
                limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            response: {
                statusName: 'code',//数据状态的字段名称，默认：code
                statusCode: 0,//成功的状态码，默认：0
                msgName: 'msg',//状态信息的字段名称，默认：msg
                countName: 'count', //数据总数的字段名称，默认：count
                dataName: 'data' //数据列表的字段名称，默认：data
            },
            where: {
                zmrqstart: jQuery("#beginTime").val(), //制模日期开始
                zmrqend: jQuery("#endTime").val(),  //制模日期结束
                queryStr: jQuery("#queryStr").val(), //查询字符串
                queryIntStr: jQuery("#queryStr").val()
            },
            skin: {
                size: 'sm'
            },
            cols: getCols(displayCol)
        };

        //执行一个 table 实例
        layui.use(['table'], function () {
            var table = layui.table;//表格
            table.render(tableOptions);

            //监听工具条
            //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            table.on('tool(test)', function (obj) {
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值
                if (layEvent === 'del') {//删除
                    deleteRow(obj, data);
                } else if (layEvent === 'edit') {//编辑
                    showUpdateModal(obj, data);
                } else if (layEvent === 'detail') {//查看
                    showDetailModal(obj, data);
                } else if (layEvent === 'print') {//打印
                    showPrintModal(obj, data);
                } else if (layEvent === 'chk') {//打印

                    var oldStates = $(this).find("i").attr("is-selected") == "false" ? false : true;
                    //移除所有选中
                    $('.chk-wrapper').each(function () {
                        $(this).find("i").attr("is-selected", false);
                        $(this).find("i").removeClass("icon-check");
                        $(this).find("i").addClass("icon-check-empty");
                    });

                    if (oldStates) {//将当前选中移除
                        $(this).find("i").addClass('icon-check-empty');
                        $(this).find("i").removeClass("icon-check");
                        $(this).find("i").attr("is-selected", false);

                        selectCheckData = undefined;
                        selectCheck = undefined;
                    } else {//选中当前
                        $(this).find("i").removeClass('icon-check-empty');
                        $(this).find("i").addClass("icon-check");
                        $(this).find("i").attr("is-selected", true);

                        selectCheckData = obj.data;
                        selectCheck = $(this);
                    }
                }
            });
        });
    }

    //粘贴编号事件
    function getDataByTableNumber() {

        var formID = "addModal";

        var number = jQuery("#" + formID + " [name='kynumber']").val();

        if (isNull(number)) {
            failAlert("请先填写砂浆抗压编号");
            return;
        }

        jQuery.ajax({
            type: 'post',
            url: urls.select,
            dataType: 'json',
            data: {'sjkynumber': number, 'page': 1, 'limit': 1},
            async: false,
            success: function (json) {

                if (json.code == 0 &&
                        json.data != null && json.data != undefined) {
                    initModelByData(json.data[0], formID, moadlHtmls.add);
                    console.log(json.data);

                } else {
                    failAlert(json.msg);
                }

            },
            err: function (err) {
                failAlert("连接服务器失败,请重试！");
            }
        });
    }

    //显示添加弹窗
    function showAddModal() {
        if (isNotPower(baseData.cees_user)) {
            return false
        }

        var formID = 'addModal';

        if (selectCheck == undefined || selectCheckData == undefined) {
            initAddModel(formID);
        } else {
            initModelByData(selectCheckData, formID, moadlHtmls.add);
        }

        layer.open({
            title: "添加",
            type: 1,
            area: ['980px', '560px'], //宽高
            content: jQuery('#' + formID),
            success: function (layer) {
                //这个函数就是在弹窗弹出成功后执行的函数
                //这个layer包含了弹窗里面的所有的html内容
                //有了这个就非常好办了，我用js调试了一下马上就定位到了弹窗框的位置然后改了他的class属性，成功。
                //这是我定位的第一个按钮的代码
                //var btn0 = layer[0].childNodes[3].childNodes[0];
            },
            btn: ['保存', '取消'],
            btnAlign: 'r', //按钮居右
            //shade: 0 ,//不显示遮罩
            btn1: function (index, layero) {//保存回调
                if (!check("addModal")) {
                    return false;
                }
                jQuery('#' + formID).ajaxSubmit({      //ajax方式提交表单

                    url: urls.add,
                    type: 'post',
                    dataType: 'json',
                    beforeSubmit: function (data, data2) {
                        // console.log(data)
                        // console.log(data2)
                    },
                    success: function (json) {

                        if (json.code == 0) {
                            var tips = layer.alert(json.msg, {
                                icon: 1,
                                skin: 'layer-ext-moon',
                                closeBtn: 0

                            }, function (thisIndex, layero) {
                                initGetShowCol(initTable);
                                layer.close(index);
                                layer.close(thisIndex);
                            });
                        } else {
                            console.log(json)
                            failAlert(json.msg);
                        }
                    },
                    clearForm: false,//禁止清楚表单
                    resetForm: false //禁止重置表单
                });
                return false; //开启该代码可禁止点击该按钮关闭
            },
            btn2: function (index, layero) {//取消回调
                layer.close(index);
            }
        });
    }

    //显示修改弹窗
    function showUpdateModal(obj, data) {
        var modelId = 'updateModal';
        if (isNotPower(baseData.cees_user)) {
            return false;
        }
        //初始化数据
        initModelByData(data, modelId, moadlHtmls.update);

        layer.open({
            title: "修改",
            type: 1,
            area: ['1240px', '620px'], //宽高
            content: jQuery('#' + modelId),
            success: function (layer) {
                //这个函数就是在弹窗弹出成功后执行的函数
                //这个layer包含了弹窗里面的所有的html内容
                //有了这个就非常好办了，我用js调试了一下马上就定位到了弹窗框的位置然后改了他的class属性，成功。
                //这是我定位的第一个按钮的代码
                //var btn0 = layer[0].childNodes[3].childNodes[0];
            },
            btn: ['保存', '取消'],
            btnAlign: 'r', //按钮居右
            //shade: 0 ,//不显示遮罩
            btn1: function (index, layero) {//保存回调
                if (!check("updateModal")) {
                    return false;
                }
                jQuery('#' + modelId).ajaxSubmit({      //ajax方式提交表单

                    url: urls.update,
                    type: 'post',
                    dataType: 'json',
                    beforeSubmit: function () {
                    },
                    success: function (json) {

                        if (json.code == 0) {
                            var tips = layer.alert(json.msg, {
                                icon: 1,
                                skin: 'layer-ext-moon',
                                closeBtn: 0

                            }, function (thisIndex, layero) {
                                initGetShowCol(initTable);
                                layer.close(index);
                                layer.close(thisIndex);
                            });
                        } else {
                            failAlert(json.msg);
                        }
                    },
                    clearForm: false,//禁止清楚表单
                    resetForm: false //禁止重置表单
                });
                return false; //开启该代码可禁止点击该按钮关闭
            },
            btn2: function (index, layero) {//取消回调
                layer.close(index);
            }
        });
    }

    //显示删除弹窗
    function deleteRow(obj, data) {
        if (isNotPower(baseData.cees_user)) {
            return false
        }

        if (data.state == "提交") {
            failAlert("不能删除已提交数据！");
            return;
        }

        layer.confirm('真的删除行么', {
            icon: 3,
            title: '提示'
        }, function (index) {
            jQuery.ajax({
                type: 'post',
                url: urls.delete,
                dataType: 'json',
                data: {'id': data.sjkyid},
                async: false,
                success: function (json) {
                    if (json.code == 0) {
                        initGetShowCol(initTable);
                        successAlert(json.msg);

                    } else {
                        failAlert(json.msg);
                    }
                },
                err: function (err) {
                    failAlert("连接服务器失败,请重试！");
                }
            });

            obj.del();
            layer.close(index);
        });
    }

    //显示查看弹窗
    function showDetailModal(obj, data) {

        var detailFormID = 'detailModal';
        var domStr = jQuery("#updateModal").html();
        jQuery("#" + detailFormID).html(domStr);
        jQuery("#" + detailFormID + " input,select").attr("disabled", "disabled");
        //初始化数据
        initModelByData(data, detailFormID, moadlHtmls.update);

        layer.open({
            title: "查看",
            type: 1,
            area: ['1240px', '620px'], //宽高
            content: jQuery('#' + detailFormID),
            success: function (layer) {
                //这个函数就是在弹窗弹出成功后执行的函数
                //这个layer包含了弹窗里面的所有的html内容
                //有了这个就非常好办了，我用js调试了一下马上就定位到了弹窗框的位置然后改了他的class属性，     成功。
                //这是我定位的第一个按钮的代码
                //var btn0 = layer[0].childNodes[3].childNodes[0];
            },
            btn: ['取消'],
            btnAlign: 'r', //按钮居右
            //shade: 0 ,//不显示遮罩
            btn1: function (index, layero) {
                layer.close(index);
            }
        });
    }

    //显示打印弹窗
    function showPrintModal(obj, data) {
        var formID = 'printModal';
        initPrintModel(formID, data)


        layer.open({
            title: "查看",
            type: 1,
            area: ['1240px', '620px'], //宽高
            content: jQuery('#printModal'),
            success: function (layer) {
                //这个函数就是在弹窗弹出成功后执行的函数
                //这个layer包含了弹窗里面的所有的html内容
                //有了这个就非常好办了，我用js调试了一下马上就定位到了弹窗框的位置然后改了他的class属性，成功。
                //这是我定位的第一个按钮的代码
                //var btn0 = layer[0].childNodes[3].childNodes[0];
            },
            btn: ['打印', '取消'],
            btnAlign: 'r', //按钮居右
            //shade: 0 ,//不显示遮罩
            btn1: function (index, layero) {
                jQuery('#printModal').print();
            },
            btn2: function (index, layero) {
                layer.close(index);
            }
        });
    }

    //初始化当前页面的弹窗默认数据
    function initThisModalDefaultData(jqFormDom) {

    }

    //初始化修改和查看页面数据
    function initModelDataByData(data, formID) {
        var jqForm = jQuery("#" + formID);
        //为普通输入框赋值
        initModalInput(data, formID);
        //为弹窗灌入一些基础的数据
        initThisModalDefaultData(jqForm);
        //下拉框选中
        //稠度单位选择
        jqForm.find("select[name='CDDW']").val(data.cddw);
        //试块数
        jqForm.find("select[name='KUAISHU']").val(data.kuaishu);

        initLayuiFormSelect();//初始化select

        //来样日期
        initLayuiLaydateTimeStr(jqForm.find("input[name='LYRQ']"), data.lyrq);
        //试块收到日期
        initLayuiLaydateTimeStr(jqForm.find("input[name='SKSDRQ']"), data.sksdrq);
        //制模日期
        initLayuiLaydateTimeStr(jqForm.find("input[name='ZMRQ']"), data.zmrq);
        //要求试验日期
        initLayuiLaydateTimeStr(jqForm.find("input[name='YQSYRQ']"), data.yqsyrq);
        //试验日期
        initLayuiLaydateTimeStr(jqForm.find("input[name='SYRQ']"), data.syrq);
        //报告日期
        initLayuiLaydateTimeStr(jqForm.find("input[name='BGRQ']"), data.bgrq);

    }

    //添加 - 初始化弹窗
    function initAddModel(formID) {
        //为添加更新表单
        var jqForm = jQuery("#" + formID);
        jqForm.html(moadlHtmls.add);

        //初始化弹窗的默认数据
        initThisModalDefaultData(jqForm);

        //委托人
        jqForm.find("input[name='client']").val(baseData.cees_construction.client);
        //委托单位名称
        jqForm.find("input[name='WTDWMC']").val(baseData.cees_construction.construction);
        //工程名称
        jqForm.find("input[name='GCMC']").val(baseData.cees_project.project);
        //养护条件
        jqForm.find("input[name='YHTJ']").val('标养');

        //初始化没有事件的时间空间
        var initLaydateArr = jqForm.find("input[name='LYRQ'],[name='SKSDRQ']");
        initLayuiLaydateByArr(initLaydateArr);
        //设置制模龄期
        var lq = 28;
        initLayuiLaydateTime(jqForm.find("input[name='ZMRQ']"), new Date());
        initLayuiLaydateTime(jqForm.find("input[name='YQSYRQ'],[name='SYRQ']"), getNewTime(new Date(), lq));
        jqForm.find("input[name='YQLQ'],[name='SJLQ']").val(lq);

        //初始化select
        initLayuiFormSelect();
    }

    //修改 - 初始化弹窗
    function initModelByData(data, formID, html) {
        var jqForm = jQuery("#" + formID);
        jqForm.html(html);
        initModelDataByData(data, formID);
    }

    //查看 - 初始化弹窗
    function initDetailModel() {

    }

    //打印 - 初始化弹窗
    function initPrintModel(formID, data) {
        jQuery("#" + formID).html(moadlHtmls.print);
        var tds = [];
        jQuery("#" + formID + " td").each(function () {

            var name = $(this).attr("name");
            if (name != undefined && name != "" && name != null) {
                tds.push($(this));
            }
        });
        for (var key in data) {
            var value = data[key];

            if (value == null || value == undefined || value == "") {
                continue;
            }
            var dom = getPrintModelDom(key, tds);

            if (dom == undefined) {
                continue;
            }
            if (key.indexOf("rq") > 0 || key.indexOf("RQ") > 0) {
                value = getTime(value);
            }

            var domHtml = dom.html();
            if (domHtml == undefined || domHtml == '') {
                dom.html(value);
            } else {
                dom.html(domHtml + " " + value);
            }
        }

        jQuery("#" + formID + " [name='construction']").html(baseData.cees_construction.construction)
        jQuery("#" + formID + " [name='project,SGBW']").html(baseData.cees_project.project + ' - ' + jQuery("#" + formID + " [name='project,SGBW']").html());
    }

    //校验参数通过返回true
    function check(formId) {
        if (isNull($("#" + formId + " input[name='SGBW']").val())) {
            failAlert("请填写施工部位！");
            return false;
        }
        return true;
    }
</script>

