#######################
##货架规格管理页面
#######################
<!--以下5个文件为输入验证控件需要引入的文件-->
<script type="text/javascript" src="#springUrl('')/static/js/jquery.form.js"></script>
<script type="text/javascript" src="#springUrl('')/static/js/jqModal.js"></script>
<script type="text/javascript" src="#springUrl('')/static/js/jquery.metadata.js"></script>
<script type="text/javascript" src="#springUrl('')/static/js/jquery.validate.js"></script>
<script type="text/javascript" src="#springUrl('')/static/js/jquery.cluetip.js"></script>
<script type="text/javascript" src="#springUrl('')/static/js/jquery.validate_msg_cn.js"></script>
<script type="text/javascript" src="#springUrl('')/static/js/validate_customer_extend.js"></script>
<script type="text/javascript" src="#springUrl('')/static/js/My97DatePicker/WdatePicker.js"></script>
##页面js
<script type="text/javascript" src="#springUrl('')/js/busi/hntky/busi_hntky.js"></script>

##<script type="text/javascript" src="#springUrl('')/js/busi/hunNingTuKangYa/busi_hunNingTuKangYa.js"></script>

<div id="content">
    <div class="crumbs mb10">
        <ol>
            <li class="pre"><a href="#">试验项目<i></i></a></li>
            <li class="pre"><a href="#">混凝土抗压试验<i></i></a></li>
        </ol>
    </div>
    <div class="search mb15">
        <form id="searchForm" action="" method="post">
            <table>
                <tbody>
                <tr>
                    <td class="textR"><label class="necessaryL">工程编号：</label></td>
                    <td class="textL">
                        <input type="text" id="projectnumber" name="projectnumber" class="textField18 {maxlength:20}"/>
                    </td>
                    <td class="textR"><label class="necessaryL">状态：</label></td>
                    <td class="textL">
                        <input type="text" id="state" name="state" class="textField18 {maxlength:20}"/>
                    </td>
                </tr>
                <tr>
                    <td class="textL" colspan="4"><label class="necessaryL">制模时间:</label>
                        <input type="text" id="zmsj_s" name="zmsj_s" class="textField18 dateTimeSet Wdate " value=""
                               onClick="WdatePicker()"/>
                        <label class="necessaryL"><span>-</span></label>
                        <input type="text" id="zmsj_e" name="zmsj_e"
                               class="textField18 dateTimeSet Wdate "
                               value="" onClick="WdatePicker()"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                    <td class="textR">
                        <span class="btn"><s><b><span style="width:80px;text-align:center;" onclick="query();">查询</span></b></s></span>
                    </td>
                    <td class="textR">
                        <span class="btn"><s><b><span style="width:80px;text-align:center;"
                                                      onclick="addShelfType();">添加</span></b></s></span>
                    </td>
                #*<td class="textL">
                    <span class="btn"><s><b><span style="width:80px;text-align:center;" onclick="downloadShelfTypeMsg();">全仓下发</span></b></s></span>
                </td>*#
                </tr>

                </tbody>
            </table>
        </form>
    </div>
    <div id="ordertable"></div>
</div>


<div id="addWindow" class="modal w900">
    <h1 class="tl">
        <div class="tr">
            <span class="tit">添加-混凝土抗压试验报告</span>
            <span class="modalClose jqmClose">关闭</span>
        </div>
    </h1>
##    <form id="addForm" name="addForm" action="" method="post" >
    <div class="moadalCon ">
        <table style="width: 100%">
            <tr>
                <td width="40%" style="padding-left: 15px;float: left">
                    <label style="float: left">工程抗压序号：</label>
                    <input type="text" style="margin-left: 0" id="hunNingTuKangYa.sn_project"
                           name="hunNingTuKangYa.sn_project" class="textField18"/>
                </td>
                <td width="60" style="padding-left: 15px;float: left">
                    <label style="float: left">施工单位：</label>
                    <input type="text" id="hunNingTuKangYa.cid"
                           name="hunNingTuKangYa.cid" class="none"/>##施工单位ID
                    <input type="text" id=""
                           name="" class="textField"/>##施工单位名称
                </td>
            </tr>
        </table>
    </div>

    <div class="modalFooter pb20">
        <button type="button" id="saveShelfSpecification" class="btn btnM" onclick="alert('1')">
            <s><b><span>保存</span></b></s></button>
        <button type="button" id="cancelOE" class="btn jqmClose"><s><b><span>取消</span></b></s></button>
    </div>
##    </form>
    <div class="bl">
        <div class="br">
        </div>
    </div>
</div>