
html, body {
    font-size: 15px;
}

#context {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 15px;
}

.fill {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.overflow {
    overflow: hidden;
}

.iframe {
    width: 100%;
    height: 100%;
    border: none;
    min-width: 320px;
}

.none {
    display: none !important;
}



/*@media (min-width: 1024px) {*/
/*body{*/
/*font-size: 10px;*/
/*}*/
/*}*/

/*@media (min-width: 1366px) {*/
/*body{*/
/*font-size: 12px;*/
/*}*/

/*}*/

/*@media (min-width: 1440px) {*/
/*body{*/
/*font-size: 14px;*/
/*}*/

/*}*/

/*@media (min-width: 1680px) {*/
/*body{*/
/*font-size: 14px;*/
/*}*/

/*}*/

/*@media (min-width: 1920px) {*/

/*body{*/
/*font-size: 14px;*/
/*}*/
/*}*/
