
html, body {
    font-size: 15px;
}

#context {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 15px;
}

.fill {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.overflow {
    overflow: hidden;
}

.iframe {
    width: 100%;
    height: 100%;
    border: none;
    min-width: 320px;
}

