.content-bar {
    padding: 0 0 0 10px;
    margin-bottom: 10px;
    line-height: 22px;
    border-left: 5px solid #009688;
    border-radius: 0 2px 2px 0;
    background-color: #f2f2f2;
}

.content-bar .layui-inline {
    margin: 5px 5px 5px 0;

}

.content-bar .layui-form-label {

    padding-left: 0 !important;
    font-size: 15px !important;
}

.content-bar .layui-input {
    width: 150px;
    /*我找到这个font-size用了两个多小时啊*/
}

.none {
    display: none;
}

.my-layer-modal {
    padding: 10px 15px;

}

.my-layer-modal .blue-font {
    color: #0B0BFE;
}

.my-layer-modal .layui-table tbody tr {
    color: black;
}

.my-layer-modal .layui-table tbody tr:hover {
    background: #FFFFFF !important;
}

.layui-table > thead > tr:first-child th:first-child > div > div > i {
    display: none;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}





