<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!--<properties>
    <property name="dialect" value="MYSQL" />
    </properties>
    <plugins>
    <plugin interceptor="com.fancyx.cees.dao.interceptor.PaginationInterceptor" />
    </plugins>-->

    <mappers>
        <!-- cees -->
        <!--混凝土抗压-->
        <mapper resource="sqlmap/mybatis/mysql/cees/HntkyMapper.xml"/>
        <mapper resource="sqlmap/mybatis/mysql/cees/HunNingTuKangYaMapper.xml"/>
        <mapper resource="sqlmap/mybatis/mysql/cees/Display_HntkyMapper.xml"/>
        <!--混凝土抗折-->
        <mapper resource="sqlmap/mybatis/mysql/cees/CEES_HntkzMapper.xml"/>
        <mapper resource="sqlmap/mybatis/mysql/cees/Display_HntkzMapper.xml"/>
        <!--砂浆抗压-->
        <mapper resource="sqlmap/mybatis/mysql/cees/CEES_SJKYQDaoMapper.xml"/>
        <mapper resource="sqlmap/mybatis/mysql/cees/Display_SJKYQDaoMapper.xml"/>

        <!--钢筋原材-->
        <mapper resource="sqlmap/mybatis/mysql/cees/CEES_GJYCMapper.xml"/>
        <mapper resource="sqlmap/mybatis/mysql/cees/Display_GJYCMapper.xml"/>
        <!--钢筋焊接头-->
        <mapper resource="sqlmap/mybatis/mysql/cees/CEES_GJHJMapper.xml"/>
        <mapper resource="sqlmap/mybatis/mysql/cees/Display_GJHJMapper.xml"/>

        <!--工程-->
        <mapper resource="sqlmap/mybatis/mysql/cees/CEES_ProjectMapper.xml"/>
        <mapper resource="sqlmap/mybatis/mysql/cees/Display_ProjectMapper.xml"/>
        <!--施工单位-->
        <mapper resource="sqlmap/mybatis/mysql/cees/CEES_ConstructionMapper.xml"/>
        <mapper resource="sqlmap/mybatis/mysql/cees/Display_ConstructionMapper.xml"/>
        <!--用户-->
        <mapper resource="sqlmap/mybatis/mysql/cees/CEES_UserMapper.xml"/>
        <mapper resource="sqlmap/mybatis/mysql/cees/Display_UserMapper.xml"/>
        <!--混凝土单位-->
        <mapper resource="sqlmap/mybatis/mysql/cees/CEES_ConcreteMapper.xml"/>
        <mapper resource="sqlmap/mybatis/mysql/cees/DisPlay_ConcreteMapper.xml"/>
    </mappers>

</configuration>
