
.text-center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*去掉打印的页眉页脚*/
@page {
    size: auto;  /* auto is the initial value */
    margin: 0mm; /* this affects the margin in the printer settings */
}

.table {
    width: 100%;
    table-layout: fixed !important;
    border-collapse: collapse;
    font-size: 14px;

}

.table tr {
    width: 100%;
}

.table tr td {
    padding: 4px;
    border: 1px solid #0c0c0c;
    min-height: 24px !important;

    word-wrap: break-word;
    word-break: break-all;
}

.none-td-border td {
    border-top: 0 !important;
}

.top10 {
    margin-top: 10px;
}

.top20 {
    margin-top: 20px;
}

.height30 {
    height: 30px;
}

#printModal {

    width: 794px;
    height: 1090px;
    padding: 30px;
}

#printModal > div {
    width: 100%;
    height: 100%;
    /*background: #f0f0f0;*/
}