<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fancyx.cees.dao.busi.Display_HntkyDao">

    <select id="selectAll" resultType="com.fancyx.cees.domain.busi.Display_Hntky">
      SELECT
        XH,
        XZ,
        ZDMC,
        GRIDMC,
        ZW,
        XSKD,
        XSYS,
        VISIBLE
      FROM
        Display_Hntky
      where
        VISIBLE = 1
      order by
        XH
    </select>

</mapper>
