<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fancyx.cees.dao.busi.Display_SJKYQDao">

    <select id="selectAll"  resultType="com.fancyx.cees.domain.busi.Display_SJKYQD">
      SELECT [XH]
          ,[XZ]
          ,[ZDMC]
          ,[GRIDMC]
          ,[ZW]
          ,[XSKD]
          ,[XSYS]
          ,[VISIBLE]
      FROM [Display_SJKYQD]
      where
        VISIBLE = 1
    </select>

</mapper>
