<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fancyx.cees.dao.busi.HunNingTuKangYaDao">

    <sql id="query_time_where">
        <if test="zmrqstart != null and zmrqstart != ''">
            AND zmrq >= #{zmrqstart}
        </if>
        <if test="zmrqend != null and zmrqend != ''">
            AND #{zmrqend} >= zmrq
        </if>
        <if test="sn_project != null">
            AND #{sn_project} = sn_project
        </if>
    </sql>

    <sql id="query_where">

        <if test="queryIntStr != null">
            OR kyid  = #{queryIntStr}

            OR cid  = #{queryIntStr}

            OR pid  = #{queryIntStr}

            OR ccid  = #{queryIntStr}

            OR sn  = #{queryIntStr}

            OR sn_project  = #{queryIntStr}

            OR sn_test  = #{queryIntStr}
        </if>

        <if test="queryStr!=null and queryStr!=''">
            OR cnumber LIKE '%${queryStr}%'

            OR projectnumber LIKE '%${queryStr}%'

            OR client LIKE '%${queryStr}%'

            OR kynumber LIKE '%${queryStr}%'

            OR testnumber LIKE '%${queryStr}%'

            OR state LIKE '%${queryStr}%'

            OR remarks LIKE '%${queryStr}%'

            OR edittime LIKE '%${queryStr}%'

            OR edituser LIKE '%${queryStr}%'

            OR readtime LIKE '%${queryStr}%'

            OR WTDBH LIKE '%${queryStr}%'

            OR SYBH LIKE '%${queryStr}%'

            OR SHIYBH LIKE '%${queryStr}%'

            OR SYXMDM LIKE '%${queryStr}%'

            OR SYXMMC LIKE '%${queryStr}%'

            OR WTDWBH LIKE '%${queryStr}%'

            OR WTDWMC LIKE '%${queryStr}%'

            OR GCBH LIKE '%${queryStr}%'

            OR GCMC LIKE '%${queryStr}%'

            OR YQBH LIKE '%${queryStr}%'

            OR SGBW LIKE '%${queryStr}%'

            OR SJQD LIKE '%${queryStr}%'

            OR NPQD LIKE '%${queryStr}%'

            OR YQTLD LIKE '%${queryStr}%'

            OR SCTLD LIKE '%${queryStr}%'

            OR SNPZ LIKE '%${queryStr}%'

            OR SNBH LIKE '%${queryStr}%'

            OR SNCB LIKE '%${queryStr}%'

            OR SNCCRQ LIKE '%${queryStr}%'

            OR SNSYBH LIKE '%${queryStr}%'

            OR SHACD LIKE '%${queryStr}%'

            OR SHAPZ LIKE '%${queryStr}%'

            OR SHAXDMS LIKE '%${queryStr}%'

            OR SHAHNL LIKE '%${queryStr}%'

            OR SHASYBH LIKE '%${queryStr}%'

            OR SHICD LIKE '%${queryStr}%'

            OR SHIPZ LIKE '%${queryStr}%'

            OR SHIZDLJ LIKE '%${queryStr}%'

            OR SHIHNL LIKE '%${queryStr}%'

            OR SHISYBH LIKE '%${queryStr}%'

            OR CHLMC LIKE '%${queryStr}%'

            OR CHLCD LIKE '%${queryStr}%'

            OR CHLZYSNL LIKE '%${queryStr}%'

            OR FMHMC LIKE '%${queryStr}%'

            OR FMHCD LIKE '%${queryStr}%'

            OR FMHZYSNL LIKE '%${queryStr}%'

            OR PZJMC LIKE '%${queryStr}%'

            OR PZJCD LIKE '%${queryStr}%'

            OR PZJCL LIKE '%${queryStr}%'

            OR PZJZYSNL LIKE '%${queryStr}%'

            OR WJJMC LIKE '%${queryStr}%'

            OR WJJCD LIKE '%${queryStr}%'

            OR WJJCL LIKE '%${queryStr}%'

            OR WJJZYSNL LIKE '%${queryStr}%'

            OR SHB LIKE '%${queryStr}%'

            OR SL LIKE '%${queryStr}%'

            OR HNTDW LIKE '%${queryStr}%'

            OR PHBBH LIKE '%${queryStr}%'

            OR SNYL LIKE '%${queryStr}%'

            OR SYL LIKE '%${queryStr}%'

            OR SHAYL LIKE '%${queryStr}%'

            OR SHIYL LIKE '%${queryStr}%'

            OR CHLYL LIKE '%${queryStr}%'

            OR FMHYL LIKE '%${queryStr}%'

            OR PZJYL LIKE '%${queryStr}%'

            OR WJJYL LIKE '%${queryStr}%'

            OR ZMRQ LIKE '%${queryStr}%'

            OR YQLQ LIKE '%${queryStr}%'

            OR YQSYRQ LIKE '%${queryStr}%'

            OR SKSDRQ LIKE '%${queryStr}%'

            OR SKYHTJ LIKE '%${queryStr}%'

            OR SYWTR LIKE '%${queryStr}%'

            OR SJBH LIKE '%${queryStr}%'

            OR SYRQ LIKE '%${queryStr}%'

            OR SJLQ LIKE '%${queryStr}%'

            OR SJCC LIKE '%${queryStr}%'

            OR SYMJ LIKE '%${queryStr}%'

            OR HZ1 LIKE '%${queryStr}%'

            OR HZ2 LIKE '%${queryStr}%'

            OR HZ3 LIKE '%${queryStr}%'

            OR HZPJ LIKE '%${queryStr}%'

            OR KYQD LIKE '%${queryStr}%'

            OR ZHQD LIKE '%${queryStr}%'

            OR DDQD LIKE '%${queryStr}%'

            OR BZ LIKE '%${queryStr}%'

            OR JSFZR LIKE '%${queryStr}%'

            OR XHR LIKE '%${queryStr}%'

            OR XHBZ LIKE '%${queryStr}%'

            OR XHYJ LIKE '%${queryStr}%'

            OR SYR LIKE '%${queryStr}%'

            OR BGRQ LIKE '%${queryStr}%'

            OR JL LIKE '%${queryStr}%'

            OR SYMC LIKE '%${queryStr}%'

            OR QFBZ LIKE '%${queryStr}%'

            OR QFYJ LIKE '%${queryStr}%'

            OR ZXGC LIKE '%${queryStr}%'

            OR ZXBZ LIKE '%${queryStr}%'

            OR JZBZ LIKE '%${queryStr}%'

            OR HGBZ LIKE '%${queryStr}%'

            OR SYJG LIKE '%${queryStr}%'

            OR CLYJ LIKE '%${queryStr}%'

            OR JLBBH LIKE '%${queryStr}%'

            OR BGBBH LIKE '%${queryStr}%'

            OR SGPHB LIKE '%${queryStr}%'
        </if>


    </sql>


    <select id="selectByBean" resultType="com.fancyx.cees.domain.busi.HunNingTuKangYa"
            parameterType="com.fancyx.cees.domain.vo.HunNingTuKangYaVO">
        select
        kyid,cid,cnumber,pid,projectnumber,client,ccid,kynumber,testnumber,sn,sn_project,sn_test,state,
        remarks,edittime,edituser,readmark,readtime,HNTDW,JSFZRBH,CHLYL,HZ3,SHASYBH,PZJMC,CHLMC,QFBZ,
        SYJG,YQTLD,GCBH,WJJYL,SYXMMC,SHIZDLJ,SYL,ZHQD,JLBBH,XHR,FMHMC,SNBH,PZJZYSNL,SYMJ,ZXBZ,SGBW,YQSYRQ,
        WTDWBH,SHIHNL,SHAYL,DDQD,SYRBH,SHAXDMS,FMHCD,SYWTR,JZBZ,WJJCL,SNSYBH,HZ1,WTDBH,SJQD,PHBBH,FMHYL,HZPJ,
        SHICD,JL,CHLCD,QFYJ,SJLQ,SHB,CLYJ,SHIYBH,GCMC,BGBBH,SHIPZ,XHBZ,SNCB,WJJMC,ZXGC,SJCC,SL,SKSDRQ,SYXMDM,
        SHISYBH,JSFZR,SHAHNL,SYR,PZJCD,SJBH,SYMC,SCTLD,SHACD,HZ2,WJJZYSNL,DWDM,SNYL,ZMRQ,WTDWMC,KYQD,BGRQ,
        CHLZYSNL,XHRBH,SYRQ,PZJCL,SGPHB,SNPZ,SHAPZ,YQLQ,WTZH,SYBH,YQBH,SHIYL,BZ,FMHZYSNL,XHYJ,WJJCD,SNCCRQ,
        HGBZ,NPQD,SKYHTJ,PZJYL
        from
        CEES_Hntky
        <where>
            <!--
                引用一个sql片段
                where可以自动去掉条件中的第一个and
            -->
            <include refid="query_time_where"></include>
            <include refid="query_where"></include>
        </where>
        ORDER BY kyid DESC
    </select>
    <select id="selectByBeanCount" resultType="java.lang.Integer"
            parameterType="com.fancyx.cees.domain.busi.HunNingTuKangYaDTO">
        SELECT
        COUNT(1)
        FROM
        CEES_Hntky
        <where>
            <!--
                引用一个sql片段
                where可以自动去掉条件中的第一个and
            -->
            <include refid="query_time_where"></include>
            <include refid="query_where"></include>
        </where>
    </select>

    <insert id="insert" parameterType="com.fancyx.cees.domain.busi.HunNingTuKangYa">
        INSERT INTO [CEES_Hntky]
        ([cid]
        ,[cnumber]
        ,[pid]
        ,[projectnumber]
        ,[client]
        ,[ccid]
        ,[kynumber]
        ,[testnumber]
        ,[sn]
        ,[sn_project]
        ,[sn_test]
        ,[state]
        ,[remarks]
        ,[edittime]
        ,[edituser]
        ,[readmark]
        ,[readtime]
        ,[WTDBH]
        ,[DWDM]
        ,[SYBH]
        ,[SHIYBH]
        ,[SYXMDM]
        ,[SYXMMC]
        ,[WTDWBH]
        ,[WTDWMC]
        ,[GCBH]
        ,[GCMC]
        ,[YQBH]
        ,[SGBW]
        ,[SJQD]
        ,[NPQD]
        ,[YQTLD]
        ,[SCTLD]
        ,[SNPZ]
        ,[SNBH]
        ,[SNCB]
        ,[SNCCRQ]
        ,[SNSYBH]
        ,[SHACD]
        ,[SHAPZ]
        ,[SHAXDMS]
        ,[SHAHNL]
        ,[SHASYBH]
        ,[SHICD]
        ,[SHIPZ]
        ,[SHIZDLJ]
        ,[SHIHNL]
        ,[SHISYBH]
        ,[CHLMC]
        ,[CHLCD]
        ,[CHLZYSNL]
        ,[FMHMC]
        ,[FMHCD]
        ,[FMHZYSNL]
        ,[PZJMC]
        ,[PZJCD]
        ,[PZJCL]
        ,[PZJZYSNL]
        ,[WJJMC]
        ,[WJJCD]
        ,[WJJCL]
        ,[WJJZYSNL]
        ,[SGPHB]
        ,[SHB]
        ,[SL]
        ,[HNTDW]
        ,[PHBBH]
        ,[SNYL]
        ,[SYL]
        ,[SHAYL]
        ,[SHIYL]
        ,[CHLYL]
        ,[FMHYL]
        ,[PZJYL]
        ,[WJJYL]
        ,[ZMRQ]
        ,[YQLQ]
        ,[YQSYRQ]
        ,[SKSDRQ]
        ,[SKYHTJ]
        ,[SYWTR]
        ,[SJBH]
        ,[SYRQ]
        ,[SJLQ]
        ,[SJCC]
        ,[SYMJ]
        ,[HZ1]
        ,[HZ2]
        ,[HZ3]
        ,[HZPJ]
        ,[KYQD]
        ,[ZHQD]
        ,[DDQD]
        ,[BZ]
        ,[JSFZRBH]
        ,[JSFZR]
        ,[XHRBH]
        ,[XHR]
        ,[XHBZ]
        ,[XHYJ]
        ,[SYRBH]
        ,[SYR]
        ,[BGRQ]
        ,[JL]
        ,[SYMC]
        ,[QFBZ]
        ,[QFYJ]
        ,[ZXGC]
        ,[ZXBZ]
        ,[JZBZ]
        ,[HGBZ]
        ,[SYJG]
        ,[CLYJ]
        ,[WTZH]
        ,[JLBBH]
        ,[BGBBH])
        VALUES
        (#{cid}
        ,#{cnumber}
        ,#{pid}
        ,#{projectnumber}
        ,#{client}
        ,#{ccid}
        ,#{kynumber}
        ,#{testnumber}
        ,#{sn}
        ,#{sn_project}
        ,#{sn_test}
        ,#{state}
        ,#{remarks}
        ,#{edittime}
        ,#{edituser}
        ,#{readmark}
        ,#{readtime}
        ,#{WTDBH}
        ,#{DWDM}
        ,#{SYBH}
        ,#{SHIYBH}
        ,#{SYXMDM}
        ,#{SYXMMC}
        ,#{WTDWBH}
        ,#{WTDWMC}
        ,#{GCBH}
        ,#{GCMC}
        ,#{YQBH}
        ,#{SGBW}
        ,#{SJQD}
        ,#{NPQD}
        ,#{YQTLD}
        ,#{SCTLD}
        ,#{SNPZ}
        ,#{SNBH}
        ,#{SNCB}
        ,#{SNCCRQ}
        ,#{SNSYBH}
        ,#{SHACD}
        ,#{SHAPZ}
        ,#{SHAXDMS}
        ,#{SHAHNL}
        ,#{SHASYBH}
        ,#{SHICD}
        ,#{SHIPZ}
        ,#{SHIZDLJ}
        ,#{SHIHNL}
        ,#{SHISYBH}
        ,#{CHLMC}
        ,#{CHLCD}
        ,#{CHLZYSNL}
        ,#{FMHMC}
        ,#{FMHCD}
        ,#{FMHZYSNL}
        ,#{PZJMC}
        ,#{PZJCD}
        ,#{PZJCL}
        ,#{PZJZYSNL}
        ,#{WJJMC}
        ,#{WJJCD}
        ,#{WJJCL}
        ,#{WJJZYSNL}
        ,#{SGPHB}
        ,#{SHB}
        ,#{SL}
        ,#{HNTDW}
        ,#{PHBBH}
        ,#{SNYL}
        ,#{SYL}
        ,#{SHAYL}
        ,#{SHIYL}
        ,#{CHLYL}
        ,#{FMHYL}
        ,#{PZJYL}
        ,#{WJJYL}
        ,#{ZMRQ}
        ,#{YQLQ}
        ,#{YQSYRQ}
        ,#{SKSDRQ}
        ,#{SKYHTJ}
        ,#{SYWTR}
        ,#{SJBH}
        ,#{SYRQ}
        ,#{SJLQ}
        ,#{SJCC}
        ,#{SYMJ}
        ,#{HZ1}
        ,#{HZ2}
        ,#{HZ3}
        ,#{HZPJ}
        ,#{KYQD}
        ,#{ZHQD}
        ,#{DDQD}
        ,#{BZ}
        ,#{JSFZRBH}
        ,#{JSFZR}
        ,#{XHRBH}
        ,#{XHR}
        ,#{XHBZ}
        ,#{XHYJ}
        ,#{SYRBH}
        ,#{SYR}
        ,#{BGRQ}
        ,#{JL}
        ,#{SYMC}
        ,#{QFBZ}
        ,#{QFYJ}
        ,#{ZXGC}
        ,#{ZXBZ}
        ,#{JZBZ}
        ,#{HGBZ}
        ,#{SYJG}
        ,#{CLYJ}
        ,#{WTZH}
        ,#{JLBBH}
        ,#{BGBBH})
    </insert>

    <delete id="delete" parameterType="int">
        DELETE FROM
          [CEES_Hntky]
        WHERE
        state != '提交' and
        kyid =  #{id,jdbcType=INTEGER}
    </delete>

    <update id="update" parameterType="com.fancyx.cees.domain.busi.HunNingTuKangYa">
        UPDATE [CEES_Hntky]
        SET [cid] =#{cid}
        ,[pid] =#{pid}
        ,[ccid] =#{ccid}
        ,[sn] =#{sn}
        ,[state] =#{state}
        ,[remarks] =#{remarks}
        ,[edittime] =#{edittime}
        ,[edituser] =#{edituser}
        ,[readmark] =#{readmark}
        ,[readtime] =#{readtime}
        ,[WTDBH] =#{WTDBH}
        ,[DWDM] =#{DWDM}
        ,[SYBH] =#{SYBH}
        ,[SHIYBH] =#{SHIYBH}
        ,[SYXMDM] =#{SYXMDM}
        ,[SYXMMC] =#{SYXMMC}
        ,[WTDWBH] =#{WTDWBH}
        ,[WTDWMC] =#{WTDWMC}
        ,[GCBH] =#{GCBH}
        ,[GCMC] =#{GCMC}
        ,[YQBH] =#{YQBH}
        ,[SGBW] =#{SGBW, }
        ,[SJQD] =#{SJQD}
        ,[NPQD] =#{NPQD}
        ,[YQTLD] =#{YQTLD}
        ,[SCTLD] =#{SCTLD}
        ,[SNPZ] =#{SNPZ}
        ,[SNBH] =#{SNBH}
        ,[SNCB] =#{SNCB}
        ,[SNCCRQ] =#{SNCCRQ}
        ,[SNSYBH] =#{SNSYBH}
        ,[SHACD] =#{SHACD}
        ,[SHAPZ] =#{SHAPZ}
        ,[SHAXDMS] =#{SHAXDMS}
        ,[SHAHNL] =#{SHAHNL}
        ,[SHASYBH] =#{SHASYBH}
        ,[SHICD] =#{SHICD}
        ,[SHIPZ] =#{SHIPZ}
        ,[SHIZDLJ] =#{SHIZDLJ}
        ,[SHIHNL] =#{SHIHNL}
        ,[SHISYBH] =#{SHISYBH}
        ,[CHLMC] =#{CHLMC}
        ,[CHLCD] =#{CHLCD}
        ,[CHLZYSNL] =#{CHLZYSNL}
        ,[FMHMC] =#{FMHMC}
        ,[FMHCD] =#{FMHCD}
        ,[FMHZYSNL] =#{FMHZYSNL}
        ,[PZJMC] =#{PZJMC}
        ,[PZJCD] =#{PZJCD}
        ,[PZJCL] =#{PZJCL}
        ,[PZJZYSNL] =#{PZJZYSNL}
        ,[WJJMC] =#{WJJMC}
        ,[WJJCD] =#{WJJCD}
        ,[WJJCL] =#{WJJCL}
        ,[WJJZYSNL] =#{WJJZYSNL}
        ,[SGPHB] =#{SGPHB}
        ,[SHB] =#{SHB}
        ,[SL] =#{SL}
        ,[HNTDW] =#{HNTDW}
        ,[PHBBH] =#{PHBBH}
        ,[SNYL] =#{SNYL}
        ,[SYL] =#{SYL}
        ,[SHAYL] =#{SHAYL}
        ,[SHIYL] =#{SHIYL}
        ,[CHLYL] =#{CHLYL}
        ,[FMHYL] =#{FMHYL}
        ,[PZJYL] =#{PZJYL}
        ,[WJJYL] =#{WJJYL}
        ,[ZMRQ] =#{ZMRQ}
        ,[YQLQ] =#{YQLQ}
        ,[YQSYRQ] =#{YQSYRQ}
        ,[SKSDRQ] =#{SKSDRQ}
        ,[SKYHTJ] =#{SKYHTJ}
        ,[SYWTR] =#{SYWTR}
        ,[SJBH] =#{SJBH}
        ,[SYRQ] =#{SYRQ}
        ,[SJLQ] =#{SJLQ}
        ,[SJCC] =#{SJCC}
        ,[SYMJ] =#{SYMJ}
        ,[HZ1] =#{HZ1}
        ,[HZ2] =#{HZ2}
        ,[HZ3] =#{HZ3}
        ,[HZPJ] =#{HZPJ}
        ,[KYQD] =#{KYQD}
        ,[ZHQD] =#{ZHQD}
        ,[DDQD] =#{DDQD}
        ,[BZ] =#{BZ}
        ,[JSFZRBH] =#{JSFZRBH}
        ,[JSFZR] =#{JSFZR}
        ,[XHRBH] =#{XHRBH}
        ,[XHR] =#{XHR}
        ,[XHBZ] =#{XHBZ}
        ,[XHYJ] =#{XHYJ}
        ,[SYRBH] =#{SYRBH}
        ,[SYR] =#{SYR}
        ,[BGRQ] =#{BGRQ}
        ,[JL] =#{JL}
        ,[SYMC] =#{SYMC}
        ,[QFBZ] =#{QFBZ}
        ,[QFYJ] =#{QFYJ}
        ,[ZXGC] =#{ZXGC}
        ,[ZXBZ] =#{ZXBZ}
        ,[JZBZ] =#{JZBZ}
        ,[HGBZ] =#{HGBZ}
        ,[SYJG] =#{SYJG}
        ,[CLYJ] =#{CLYJ}
        ,[WTZH] =#{WTZH}
        ,[JLBBH] =#{JLBBH}
        ,[BGBBH] =#{BGBBH}
        WHERE
          kyid = #{kyid,jdbcType=INTEGER}
    </update>

    <select id="maxSnProject" resultType="java.lang.Integer">
      select
         ISNULL(MAX(sn_project),0)
      from CEES_Hntky
    </select>

    <select id="maxCnumber" resultType="java.lang.Integer">
      select
         ISNULL(MAX((cast(cnumber  as int))),0)
      from CEES_Hntky
    </select>

    <select id="maxProjectnumber" resultType="java.lang.Integer">
      select
         ISNULL(MAX((cast(projectnumber  as int))),0)
      from CEES_Hntky
    </select>

    <select id="maxKynumber" resultType="String">
        select
          ISNULL(MAX((kynumber )),0)
        from CEES_Hntky
    </select>
</mapper>
